// app global css
.image-product-list {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 0px solid black;
    // border-radius: 7px;
    vertical-align: middle;
}
.image-contents-list {
    width: 160px;
    height: 90px;
    object-fit: cover;
}

.image-circle-list {
    width: 120px;
    height: 90px;
    object-fit: cover;
    // border-radius: 3px;
}

.small-circle-list {
    width: 80px;
    height: 60px;
    object-fit: cover;
    // border-radius: 3px;
}