<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
    <!-- <meta name="theme-color" content="#027be3">모바일 WEB 주소창 컬러 -->

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metashopse.com">
    <meta property="og:title" content="메타샵스 - 쇼핑 플랫폼의 혁명">
    <meta property="og:description" content="이제는 판매자 주인공 시점으로!">
    <meta property="og:image" content="https://metashopse.com/statics/images/logo/oglogonew.png">
    <meta property="fb:app_id" content="836908680015094">
    <meta name="keywords" content="메타샵스,원더샵,중고마켓,중고거래,오픈마켓,디벨로퍼스,개발자,API,플랫폼,상품API,유튜브,블록체인"/>

    <!-- <link rel="icon" type="image/x-icon" href="statics/icons/icon-128x128.png"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="48x48" href="statics/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="64x64" href="statics/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="256x256" href="statics/icons/favicon.ico">
    <link rel="canonical" href="https://metashopse.com/index.html"> 
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
